body{background: #000000;}

/* t.js */
ins,del{text-decoration:none;}
s{display:none;}
kbd{font-family:inherit;}

/* links */
a:link{color:#FFCE7F}
a:visited{color:#FFCE7F;}
a:hover{color:#ff0000;}
a:active{color:#ff8000;}
a{text-decoration: none;}

/*ul li*/
ul li, ol li{
	color:yellow;
	padding-top:5px;
}
li span{
	color:white;
}

/* other */
.AA{font-family: 'Lato', sans-serif;}
.prompt{display:flex;}

.time{
	color:#FFD700;
	float:right;
}

.terminal{color:#FFFFFF;}
.name{color:#00FFFF;}
.path{color:#00FF00;}

#blank{
	padding-top:50px;
}

#about{
	color:#FFFFFF;
	line-height:60%;
}

#ls_result{
	color:#FFFFFF;
	line-height:60%;
}

.cd_link{
	border:none;
	color:#729FCF;
	background-color:transparent;
}

.text_link{
	border:none;
	color:#FFFFFF;
	background-color:transparent;
}
