body{
	background: #000000;
/*
	background: #FFFFFF;
*/
}

/* t.js */
ins,del{text-decoration:none;}
s{display:none;}
kbd{font-family:inherit;}

.prompt{
	display:flex;
}

.time{
	color:#FFD700;
	float:right;
}

.terminal{
	color:#FFFFFF;
}

.name{
	color:#00FFFF;
}

.path{
	color:#00FF00;
}

